

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.textPrimary {
    color: #FD6E0A;
}

.darkTwo {
    color: #474747;
}

.btnPrimary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.bgPrimary {
    background-color: #FFF8F3;
}

.textCenter {
    align-items: center;
}

.header {
    background-image: url(../images/developer.png), 
    url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position:top left,  bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}

.navTitle {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.bannerContent {
    max-width: 585px;
}

.bannerGreetings {
    font-size: 45px;
    font-weight: 500;
}

.bannerTitle {
    font-size: 85px;
    font-weight: bold;
}

.bannerDp {
    width: 585px;
    text-align: center;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
}

.aboutTitle {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.aboutDescrip {
    color: #757575;
    font-size: 18px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
.aboutItems {
    display: flex;
    justify-content: space-between;

}

.itemDescrip {
    font-size: 20px;
    font-weight: bold;
}

.itemTitle {
    font-size: 20px;
    color: #757575;
}

.skillsTitle {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.skillsDescrip {
    color: #757575;
    font-size: 18px;
}

.skillsContent{
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.resume hr {
    margin: 30px 0;
}

.resumeContent {
    display: flex;
    gap: 24px;
}

.experienceSubTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experienceDescrip, .experienceSubTitle {
    color: #757575;
}

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footerColumn {
    width: 50%;
}

footer input[type = 'text'], footer input[type = 'email'], footer textarea {
    height: 64px;
    border-radius: 5px;
    border-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    outline: none;
}